<html>
    <head>
        <title>MC02 Transactions</title>
        <link rel="stylesheet" href="..\public\css\form.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/script/script.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Edit Movie</h1>
            <form action="add.html" method="post">
            
                <label>Movie Title</label>
                <input type="text" name="title" class="title" id="title" placeholder="Movie Title" required><br>
                <label for="year-search">Year of Release</label>
                <select id="year-search" required></select><br>
                <label>Rank</label>
                <input type="text" name="rank" class="rank" id="rank" placeholder="Rank" required><br>
                <a href="/"><button id="back-button">Back</button></a>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>

<script>
    // For Year Dropdown
    let dateDropdown = document.getElementById('year-search'); 
        
    let currentYear = new Date().getFullYear();    
    let earliestYear = 1970;     
    while (currentYear >= earliestYear) {      
        let dateOption = document.createElement('option');          
        dateOption.text = currentYear;      
        dateOption.value = currentYear;        
        dateDropdown.add(dateOption);      
        currentYear -= 1;    
    }
</script>