<html>
    <head>
        <title>MC02 Transactions</title>
        <link rel="stylesheet" href="css\style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>MC02 Transaction Management</h1>
        <table>
            <thead>
                <tr>
                    <th id="title">Title</th>
                    <th id="year">Year</th>
                    <th id="rank">Rank</th>
                    <th id="Actions">Actions</th>
                </tr>
            </thead>
                <tbody>
                {{#each movies}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{year}}</td>
                        <td>{{rank}}</td>
                        <td><button id="edit-button">Edit</button><button id="edit-button">Delete</button></th>
                    </tr>
                {{else}}
                    <p>No movies to display</p>
                {{/each}}
                </tbody>
        </table>
        <br>
        <a href="/add-movie"><button id="add-movie" >Add Movie</button></a>
    </body>
    
</html>
<script>
    $(document).ready(function() {
        $('#search-button').click(function() {
            var name = $('#title-search').val();
            var year = $('#year-search').find(":selected").text();
            var rank = $('#rank-search').val();

            if (name == "")
                name = ""

            if (year == "")
                year = 0

            if (rank == "" || rank == undefined)
                rank = -1

            $.post('/search-movie', {name: name, year: year, rank: rank},function(err) {
                if(err) throw err
            });
        });

        
    });
</script>

